body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(yubi.jpg);
    background-size: contain;
}

.string-font {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    background-color: white;
    text-align: center;
    padding: 10px 25px;
    font-family: Arial, sans-serif;
}

.place {
    display: flex;
    justify-content: center;
    align-items: center;
}

#emoji-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.emoji {
    font-size: 30px;
    margin: 5px;
    background-color: white;
}

#gameOverMessage {
    display: none;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    background-color: white;
}

#clickButton {
    font-size: 32px;
    padding: 10px 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
