body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#emoji-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.emoji {
    font-size: 24px;
    margin: 5px;
}

#gameOverMessage {
    display: none;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

#clickButton {
    font-size: 32px;
    padding: 10px 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
